{% extends "index.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock link %}
{% block content %}
  

  <body>
    <div class="wrapper">
      <form class="form-signin" action="{% url 'home2' %}">
        <h2 class="text-center form-signin-heading">Login</h2>
        <input
          type="text"
          class="form-control"
          name="email"
          placeholder="Email Address"
          required=""
          autofocus=""
        />
        <br>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
          required=""
        />
        <hr />
        <button class="btn btn btn-info btn-block" type="submit">Login</button>
        <small>Don't have an account? </small><br />
        <small> <a href="{% url 'register' %}">Register here!</a></small>
      </form>
    </div>
  </body>
  {% endblock content %}
