

<head>
  
  <!------ dropdowndaki oku siliyo ---------->
      <style> 
          .dropdown-toggle::after { 
              content: none; 
          } 
      </style> 
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'home' %}">xplaeu</a>
        
         
          <form id="search_form" name="gs" method="GET" action="{% url 'search_result' %}">
            <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
          </form>
    
        
          
        


  
  
          
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
            </button>
          
            <ul class="navbar-nav ml-auto">
  
              <li class="nav-item ">
                <a
                class="nav-link "
              href="{% url 'add_content' %}"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            > Add Content
          </a>
              </li>



              <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#">HTML</a></li>
                <li><a tabindex="-1" href="#">CSS</a></li>
                <li class="dropdown-submenu">
                  <a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                    <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                    <li class="dropdown-submenu">
                      <a class="test" href="#">Another dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">3rd level dropdown</a></li>
                        <li><a href="#">3rd level dropdown</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>

              
              
              <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" 
                  width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                  <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                </svg>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
                  <div class="dropdown-divider"></div>
                </div>
              </li>
            </ul>
  
            
  
        </div>
        </nav>
  
  
      
  
  
  </body>