
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">xplaeu</a>
    
     
      <form id="search_form" name="gs" method="GET" action="{% url 'search_result' %}">
        <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
      </form>

 

        <ul class="navbar-nav ml-auto">
          
          
          

         
      <a class="nav-link active" href="{% url 'login' %}">Log In</a>
     </li> 
     <li class="nav-item active"></li>
      <a class="nav-link active" href="{% url 'register' %}">Sign Up</a>
  </li> 
        </ul>
    </div>
    </nav>



