{% extends "index.html" %}
{% block link %}
{% endblock link %}


{% block content %}
  <body>
    <div class="container center my-3 ">
        <p style="text-align: center"><b> PUBLISHED</b></p>
        <div class="row">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
              <li class="breadcrumb-item active" aria-current="page">Published</li>
            </ol>
          </nav>
        </div>

       
        <div class="row">
        {% for content in request.user.content.all %}
          <!--CARD1-->
          <div class="col-md-4">
            <div class="card">
                {% if content.pic %}
                  
                
              <img
                src="{{ content.pic.url }}"
                class="card-img-top"
                alt="..."
              />
              {% endif %}
  
              <div class="text-right">
                5.0-change this<i class="fas fa-star" style="color: #ecc535"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ content.title }}</h5>
                <p class="card-text">
                  {{ content.body }}
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated {{ content.updated_at }}</small>
                </p>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col">
                    <a href="{% url 'content' id=content.id %}" class="btn btn-primary">More</a>
                  </div>
                  <div class="col">
                    <div class="text-right">

                        <button type="button" class="btn btn-outline-secondary">
                            <a href="{% url 'delete_content' content.id %}">
                              <i id="trash" class="fas fa-trash" style="color: red" ></i>
                            </a>
                          </button>

                      <button type="button" class="btn btn-outline-secondary">
                        <a href="{% url 'save' content.id %}">
                          {% if request.user not in content.savelist.all %}
                          <i id="mark1" class="far fa-bookmark" ></i>
                          {% else %}
                          <i id="mark1" class="fas fa-bookmark" ></i>
                          {% endif %}
                        </a>
                      </button>
          
                      <button type="button" class="btn btn-outline-danger">
                        <a href="{% url 'like' content.id %}">
                          {% if request.user not in content.likelist.all %}
                          <i id="like1"
                           class="far fa-heart" style="color: red"></i>
                          {% else %}
                          <i id="like1"
                          class="fas fa-heart" style="color: red"></i>
                          {% endif %}
                        </a>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
       
          {% endfor %}
        </div>

      </div>

    <script
      src="https://kit.fontawesome.com/e187c73c77.js"
      crossorigin="anonymous"
    ></script>
  
  </body>
  {% endblock content %}
